<nav>
    <div class = "site-title">
        <a href="/"><h1>Blogs ni JM</h1></a>
        <p>A Website About JM's Blogs</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>