<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Me</h2>
        <p>Hello! Welcome to my page. My name is John Marc S. Reantazo. You can call me JM.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>