<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Me</h2>
        <p> LeBron James is often hailed as one of the greatest basketball players of all time, and for good reason. His combination of physical prowess, basketball IQ, and versatility on the court sets him apart from his peers. Standing at 6 feet 9 inches and weighing around 250 pounds, LeBron possesses the strength of a forward while maintaining the agility of a guard. This unique blend allows him to dominate in various positions, whether driving to the basket, shooting from the perimeter, or facilitating plays for his teammates. His ability to adapt his game over the years, transitioning from a high-flying scorer to a more strategic playmaker, showcases his dedication to improvement and understanding of the game.</p>
        <p> Beyond his physical attributes, LeBron's impact on the court is profound. He has consistently been a leader, both statistically and in terms of team dynamics. With numerous NBA championships and MVP awards to his name, he has proven time and again that he can elevate the performance of those around him. LeBron's court vision and passing ability are exceptional, often drawing comparisons to some of the best point guards in history. His commitment to teamwork and unselfish play has not only led to individual accolades but has also forged successful teams that have made deep playoff runs. Furthermore, LeBron's influence extends beyond basketball. He has used his platform to advocate for social justice, education, and community development. His initiatives, such as the LeBron James Family Foundation and the opening of the "I PROMISE School" in Akron, Ohio, demonstrate his commitment to making a positive impact off the court.</p>
        <p> This combination of athletic excellence and social responsibility solidifies his legacy, making a strong case for him being the greatest of all time (GOAT). LeBron James is not just a basketball player; he is a cultural icon whose greatness transcends the sport itself.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>